

.main_container{
    display: flex;
    flex-direction: column;
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.join-button {
   
    background: black;
    color: white;
    box-shadow: none;
    border: 1px solid white;
    border-radius: 3px;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 5px 5px 5px 5px ;
    margin: 0px 5px 00px 900px;

}
.sign-in-button {
    background: rgb(192, 16, 16);
    color: white;
    box-shadow: none;
   
    border-radius: 3px;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 5px 5px 5px 5px ;
}